@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <h3>Sorry, the page was not found.</h3>
    </NotFound>
</Router>
